<div class="container text-center">
    <h1>About Page</h1>
    <p>We are a Florida Gator football fan page. We want to create an exclusive 
    community for fans to share their thoughts and opinions on Gator football. 
    </p>
</div>